- name: Install devel packages
  apt: name={{ item }} state=present
  with_items:
  - build-essential
  - vim-gtk
  - git 
  - subversion 
  - realpath 
  - cmake 
  - python-pip
  - libyaml-dev
  - ipython
- name: git config user.name
  git_config: name=user.name scope=global value="{{ user_name }}"
- name: git config user.email
  git_config: name=user.email scope=global value="{{ user_email }}"
- name: Install python packages
  apt: name={{ item }} state=present
  with_items:
  - python-pyexiv2
  - libgexiv2-2
  - gir1.2-gexiv2-0.10

